---
import Layout from '../../layouts/default.astro';
import Title from '../../components/title';
import ScreenAudience from '../../components/screen-audience';

const { gameSlug } = Astro.params;

if (!gameSlug) {
	return Astro.response(404);
}
---

<Layout>
  <main>
    <Title />

    <ScreenAudience client:only slug={gameSlug} />
  </main>
</Layout>

<style is:global>
  main {
    align-items: center;
    margin: auto;
    max-width: 80vw;
  }

  .title {
    margin: 5rem auto;
  }

  .audience-screen {
    display: flex;
    gap: 5rem;
  }

  .squares {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, min-content);
    gap: 1rem;

    .details {
      position: relative;
      flex-direction: column;
    }
  }

  .profile-active {
    outline: 5px solid var(--primary-color);
  }

  .marked {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    color: var(--primary-color);
    line-height: 1em;
    font-size: 100px;
  }

  .active-question {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
</style>