---
import Layout from '../../layouts/default.astro';
import ScreenMain from '../../components/screen-main';

const { gameSlug } = Astro.params;

if (!gameSlug) {
	return Astro.response(404);
}
---

<Layout>
	<main>
		<ScreenMain client:load slug={gameSlug} />
	</main>
</Layout>

<style is:global>
	main {
		align-items: center;
		block-size: 100dvb;
		display: flex;
		justify-content: center;
	}

	.game {
		container: game / inline-size;
		display: flex;
		gap: 40px;
		grid-template-columns: 2fr 1fr;
		inline-size: 90cqi;
		justify-content: center;
	}

	.squares {
		border-radius: 5px;
		container: squares / inline-size;
		display: grid;
		grid-template:
			'A1 A2 A3' var(--square-size)
			'B1 B2 B3' var(--square-size)
			'C1 C2 C3' var(--square-size) / var(--square-size) var(--square-size) var(--square-size);
		inline-size: 100%;
		position: relative;

		.square {
			border: 4px solid var(--border-color);
			container: square / inline-size;
			padding: 16px;
			position: relative;
			z-index: 1;

			&:nth-of-type(1),
			&:nth-of-type(2),
			&:nth-of-type(3) {
				border-block-start: none;
			}

			&:nth-of-type(7),
			&:nth-of-type(8),
			&:nth-of-type(9) {
				border-block-end: none;
			}

			&:nth-of-type(3n + 1) {
				border-inline-start: none;
			}

			&:nth-of-type(3n + 3) {
				border-inline-end: none;
			}

			img {
				block-size: auto;
				border-radius: 3px;
				inline-size: 100%;
				position: relative;
				z-index: 1;
			}

			&::after {
				background: linear-gradient(
					135deg,
					var(--accent-color) 25%,
					transparent 25%
				);
				border-start-start-radius: 3px;
				color: var(--bg-color);
				content: '';
				display: block;
				font-family: 'Rubik Mono One', monospace;
				font-size: 30cqi;
				inset: 16px;
				line-height: 1;
				opacity: 0.95;
				padding: 4px;
				position: absolute;
				text-align: start;
				mix-blend-mode: hard-light;
				z-index: 100;
			}

			&[data-state='O']::after {
				content: 'O';
			}

			&[data-state='X']::after {
				content: 'X';
			}

			&[data-state='empty']::after {
				opacity: 0;
			}

			.star-container {
				inset: 0;
				position: absolute;
				rotate: var(--rotate, 45deg);
				transform-origin: center;
				z-index: 10;
			}

			.star {
				inline-size: 15cqi;
				inset-block-start: 50cqi;
				inset-inline-start: 50cqi;
				opacity: 0;
				position: absolute;
				transform-origin: center;
				rotate: 0deg;
				scale: 0.1;
				z-index: 1000;
			}

			&[data-active='true'],
			&[data-highlight='true'],
			[data-state='secret-square'] &[data-secret='true'] {
				z-index: 10;

				&::before {
					animation: 5s linear infinite alternate blur-pulse;
					background: var(--accent-color);
					border-radius: 1.5cqi;
					content: '';
					filter: blur(0cqi);
					inset: 10cqi;
					position: absolute;
					z-index: 1;
				}
			}

			[data-state='secret-square'] &[data-secret='true'] {
				.star {
					animation:
						1s ease-out var(--delay, 0s) infinite starburst,
						3s linear var(--delay, 0s) infinite spin;
				}
			}
		}
	}

	@keyframes blur-pulse {
		to {
			filter: blur(30cqi);
		}
	}

	@keyframes spin {
		to {
			rotate: 360deg;
		}
	}

	@keyframes starburst {
		0% {
			opacity: 0;
		}

		30% {
			opacity: 0;
		}

		50% {
			opacity: 1;
		}

		80% {
			opacity: 1;
		}

		100% {
			opacity: 0;
			scale: var(--scale, 1);
			translate: -55cqi -55cqi;
		}
	}

	.info {
		align-items: end;
		container: info / inline-size;
		display: flex;
		flex-direction: column;
		font-size: clamp(1.25rem, 2.25cqi, 2rem);
		gap: 40px;
		inline-size: 100%;
		justify-content: start;
		padding-block: 16px;

		> :has(.production) {
			margin-block-start: auto;
		}
	}

	.win-banner {
		align-items: center;
		display: flex;
		inline-size: 100%;
		justify-content: center;
		z-index: 1000;

		p {
			background: var(--accent-color);
			border-radius: 3px;
			color: var(--bg-color);
			font-family: 'Rubik Mono One', monospace;
			font-size: clamp(1rem, 7.25cqi, 2.5rem);
			inline-size: 100%;
			line-height: 1.25;
			margin: 0;
			padding: 20px 40px;
			text-align: center;
		}
	}

	.play-along {
		align-items: center;
		color: #c8cdd7;
		container: play-along / inline-size;
		display: flex;
		font-family: 'Rubik Mono One', monospace;
		gap: 16px;
		inline-size: 100%;
		justify-content: center;
		max-inline-size: 360px;

		.qr {
			width: 140px;
			height: 140px;
		}

		h3 {
			display: inline-block;
			font-size: clamp(0.75rem, 4.5cqi, 1.75rem);
			inline-size: max-content;
			margin: 0;
			text-align: end;

			span {
				font-family: 'Rubik', sans-serif;
				font-optical-sizing: auto;
				font-size: 0.875em;
				font-style: normal;
				font-weight: 300;
				letter-spacing: 0.1em;
			}
		}

		svg {
			inline-size: min(200px, 40cqi);
		}
	}
</style>
