---
import Layout from '../layouts/default.astro';
import Title from '../components/title';
---

<Layout>
	<main>
		<Title />

		<div class="play-controls">
			<a class="button" href="/dec2025/play">Play</a>
		</div>
	</main>
</Layout>

<style>
	main {
		block-size: 100cqb;
		display: grid;
		gap: 40px;
		place-items: center;
	}

	:global(.title) {
		align-self: end;
	}

	.play-controls {
		align-items: center;
		align-self: start;

		.button {
			min-inline-size: 300px;
		}
	}
</style>
